::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 0.25rem;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #475569;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
}

.theme-transition {
  transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

nav.nav-scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06) !important;
  transition: box-shadow 0.3s ease-in-out;
}

body {
  overflow-y: scroll;
}

@keyframes shine {
  100% {
    transform: translateX(100%);
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

.nav-section::before {
  content: '';
  position: absolute;
  inset: 0;
  /* background: radial-gradient(circle at center, #238636, transparent 70%); */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-section:hover::before {
  opacity: 1;
}